*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  text-align: center;
}
header{
  background-color: #016901;
}
h1{
  color: #fff;
  padding: 40px;
}
main{
  margin-top: 100px;
}